/* 
Colors used:
Primary (white): #ffffff;
Secondary option 1 (tan): #efebe5;
Secondary option 2 (grey): #ebeae8;
Text and buttons (dark grey): #4f4f4f;
*/

body{
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: #383838;
}
h1, h2, h3, h4 {
    line-height: 1.4;
}
h1 {
    font-size: 2.00em;
    font-weight: 400;
}
h2 {
    font-size: 1.75em;
    font-weight: 400;
}
h3 {
    font-size: 1.25em;
    font-weight: 400;
}
h4 {
    font-size: 1.25em;
    font-weight: 300;
}

a {
    color:#383838;
    text-decoration: none;
}
a :hover,
a :focus {
    color: #000000;
    text-decoration: none;
}
a:visited {
    color: #5a5a5a;
    text-decoration: none;
}
a:active {
    color: #000000;
    text-decoration: none;
}

.button {
    display: inline-block;
    background-color: #383838;
    color: white;
    font-weight: 400;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.button:hover,
.button:active {
    background-color: #000000;
    text-decoration: none;
}

.button:visited { color: white;}