/* 
Colors used:
Background (white): #ffffff;
Text (dark grey): #4f4f4f;
button color: #505577
*/

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: #4f4f4f;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}


header {
    background-color: white;
    text-align: center;
    padding: 10px 0 4px;
    position: relative;
    border-bottom: 1px solid #505577;
}

span {
    font-size: 0.75em;
    font-weight: 100;
}

main {
    padding-top: 0px;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.00em;
    font-weight: 300;
}

h2 {
    font-size: 1.75em;
    font-weight: 300;
    padding-top: 40px;
}

h3 {
    font-size: 1.50em;
    font-weight: 300;
}

h4 {
    font-size: 1.25em;
    font-weight: 300;
}

a {
    color: #505577;
    text-decoration: none;
}

a :hover,
a :focus {
    color: #505577;
    text-decoration: none;
}

a:visited {
    color: #5a5a5a;
    text-decoration: none;
}

a:active {
    color: #000000;
    text-decoration: none;
}

.button {
    display: inline-block;
    background-color: #505577;
    color: white;
    font-weight: 200;
    padding: 8px 25px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.2s;
    transition-property: opacity;
}

.button:hover,
.button:active {
    background-color: #505577;
    text-decoration: none;
    opacity: 0.8;
}

.button:visited {
    color: white;
}


/* Layout styling */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin: 25px 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.logo {
    max-width: 150px;
    font-size: 20px;
    font-weight: 600;
    line-height: 2.5em;
}

.logo-wrapper {
    display: inline-block;
    padding: 20px;
}

.imgWrapper svg {
    width: 100%;
}


nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav>ul>li>a {
    display: inline-block;
    padding: 0 15px;
    color: #505577;
    text-transform: uppercase;
    text-decoration: none;
}

nav>ul>li>a:visited {
    color: #505577;
    text-decoration: none;
}

nav>ul>li>a:hover {
    color: #505577;
    text-decoration: underline;
}

#hero {
    padding: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #505577;
}

#hero span {
    display: block;
}

#hero h1 {
    text-align: center;
}

#hero p {
    text-align: center;
}

#aboutme h1,
#aboutme p {
    text-align: center;
    padding-top: 20px;
}


#ecom-project {
    padding-top: 0px;
}

#myprojects h2 {
    text-align: center;
}

#myprojects {
    background-color: white;
}

#myskills h2 {
    text-align: center;
}

#contact {
    border-top: 1px solid #505577;
}


[class*="col-"] {
    float: left;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 20px;
}

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #505577;
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

/* footer/contact styling */

.center-text {
    text-align: center;
}

.center-objects {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.social-icons:hover {
    opacity: 0.8;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
}

.fa-brands {
    font-size: 40px;
    padding: 10px;
}

/* Medium devices (641px and larger)*/
@media only screen and (min-width: 641px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    .col-md-6 {
        width: 50%;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    nav>ul {
        margin: 1em 0;
    }

    nav>ul>li {
        display: inline-block;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }
}

/* Large devices (1024px or larger)*/
@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* X-Large devices (1440px or larger)*/
@media only screen and (min-width: 1440px) {}


.centerme {
    text-align: center;
    padding-top: 20px;
}

.descWrapper {
    padding: 10px;
}

.imgWrapper {
    padding: 10px;
}


/* palm tree animation*/


.st0v {
    fill: #27aae1;
}

.st1v {
    fill: #f26d79;
}

.st2v {
    fill: #fbb040;
}

.st3v {
    fill: #46a480;
}

.st0 {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes color-change {
    0% {
        fill: #27aae1;
    }

    50% {
        fill: #2b74a5;
    }

    100% {
        fill: #29488a;
    }
}